{% extends 'dbase.html' %}
{%  load static %}


{% block body %}


	


<div class="page-wrapper">
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header ">
                <h5>Products</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                      
                        
                        <li>
                            <a class="btn btn-primary" href="{% url 'add_category' %}"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Category</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{% url 'add_brand' %}"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Brand</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{% url 'add_product' %}"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
            
        <!-- Search Filter -->
        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label>Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label>Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="input-block mb-3">
                            <label>Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
        <!-- Table -->
        <div class="row">
            <div class="col-sm-12">
                <div class=" card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="companies-table">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Product Name</th>
                                        <th>Brand</th>
                                        <th>Category</th>
                                        <th>Unit Type</th>                                       
                                        <th>Mode</th>
                                        <th>Price</th>

                                        <th>Selling Price</th>
                                        <th class="no-sort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in product %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td ><h2 class="table-avatar">
                                           
                                                    <a href="{% url 'edit_product' i.id %}">{{  i.product_name }}</a>
                                        </h2></td>
                                        <td>{{ i.brand.brand_name }}</td>
                                        <td>{{ i.category.category_name }}</td>
                                        <td>{{ i.unit_type}}</td>
                                        <td>{{ i.pro_type }}</td>
                                        <td>{{ i.product_price }}</td>

                                        <td>{{ i.discounted_price }}</td>
                                 
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'edit_product' i.id %}"><i class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'delete_product' i.id %}" ><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                 
                                   
                                    
                                   
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Table -->

    </div>
</div>
<!-- /Page Wrapper -->





</div>

    
{% endblock body %}

		
		