{% load static %}


<footer class="footer-fashion-shop footer-dark bg-extra-dark-gray position-relative overlap-gap-section-bottom sm-padding-50px-top">
    <div class="container section-padding">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="subscribe md-mb50">
                    <h6>Be the first to get the latest news <br> about trends, inspiration & more</h6>
                   
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-info">
                    <div class="row lg-marg">
                        <div class="col-md-6">
                            <div class="item mb-60">
                                <h6>Work Inquiry</h6>
                                <p>carres@eyresai.com</p>
                                <p>+91 9008968461</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item mb-60">
                                <h6>Open Position</h6>
                                <p>Senior Back-end Django Developer</p>
                                <p>Front-end Developer</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item sm-mb60">
                                <h6>Bangalore</h6>
                                <p>12,3rd A Cross, 2nd Main Rd, KSRTC Layout, 2nd Phase, J. P. Nagar, Bengaluru, Karnataka 560078</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <h6>Links</h6>
                                <p><a href="#0">Terms & Conditions</a></p>
                                <p><a href="#0">Privacy Policy</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer bord-thin-top-light pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copy d-flex align-items-center md-mb30">
                        <div>
                            <div class="logo">
                                <img src="{% static 'assets/imgs/Duostorelogo.png' %}" alt=""  style="width:70px;height:60px">
                            </div>
                        </div>
                        <div class="ml-50">
                            <p>© 2024 <a href="/">Duostore</a>. <br> All Right Reserved</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-end">
                    <div class="links sub-color d-flex justify-content-between">
                        <a href="index.html" class="active">Home</a>
                        <a href="portfolio-cards.html">Product</a>
                        <a href="aboutus.html">About Us</a>
                        <a href="blog-grid.html">Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- end footer -->

<!-- javascript -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/theme-vendors.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<!-- revolution js files -->
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- BUBBLEMORPH ADD-ON FILES -->
<script type='text/javascript' src='{% static 'revolution/revolution-addons/bubblemorph/js/revolution.addon.bubblemorph.min.js' %}'></script>
<!-- slider revolution 5.0 extensions (load extensions only on local file systems ! the following part can be removed on server for on demand loading) --> 
<!-- <script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script> -->


</body>
</html>