
{% load static %}


<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template Hubfolio Multi-Purpose themeforest">
    <meta name="description" content="Duostore - Vendor Management">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Duostore</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/imgs/favicon.ico' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/themify-icons/0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- Plugins -->
    
    <link rel="stylesheet" href="{% static 'assets/css/plugins/themify-icons.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/justifiedGallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/YouTubePopUpmate.min.css' %}">


    <!-- Core Style Css -->
    <link rel="stylesheet" href="{% static 'assets/css/common_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/home2-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/inner_pages.css' %}">


</head>




{% block body %}
{% endblock body %}














<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-migrate-3.4.0.min.js' %}"></script>

<!-- plugins -->
<script src="{% static 'assets/js/plugins.js' %}"></script>

<!-- GSAP -->
<script src="{% static 'assets/js/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollSmoother.min.js' %}"></script>
<script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'assets/js/SplitText.min.js' %}"></script>


<!-- ABOUT -->
<script src="{% static 'assets/js/gsap_lib/matter.js' %}"></script>
<script src="{% static 'assets/js/gsap_lib/throwable.js' %}"></script>

<!-- common scripts -->
<script src="{% static 'assets/js/common_scripts.js' %}"></script>

<!-- custom scripts -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/inner_pages.js' %}"></script>


</body>

</html>
