{% extends 'base.html' %}


{% load static %}

{% block body %}


{% include 'includes/loading.html' %}
{% include 'includes/navbar.html' %}


<main>



    <!-- ==================== Start Header ==================== -->

    <header class="about-hed section-padding pb-0">
        <div class="container">
            <div class="caption mb-80">
                <h1 class="sec-head"><span class="sub-head mr-30">About Us</span> Connecting vendors with local customers through seamless online and offline solutions.</h1>
                <div class="row justify-content-end">
                    <div class="col-lg-5">
                        <div class="text mt-30">
                            <p>Duostore is an e-commerce platform designed to simplify shopping by offering a diverse selection of products across categories. The platform aims to enhance user experience through features like streamlined navigation, secure payment gateways, and personalized recommendations. Duostore supports vendors with tools to manage inventory, monitor sales, and engage customers. The store’s responsive design ensures accessibility 
                                across devices, making it easy for customers to shop anytime, anywhere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="main-marq shadow-off">
                <div class="slide-har st1">
                    <div class="box">
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                    </div>
                    <div class="box">
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                        <div class="item">
                            <h2><span>About Us</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fit-img radius-15">
                <img src="{% static 'assets/imgs/about/header/1.jpg' %}" alt="">
            </div>
        </div>
    </header>

    <!-- ==================== End Header ==================== -->



    <!-- ==================== Start Services ==================== -->

    <section class="services-dm container-fluid">
        <div class="box sub-bg radius-30 section-padding mt-15">
            <div class="container">
                <div class="sec-head mb-100">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6 class="sub-head">Our Service Expertise</h6>
                        </div>
                        <div class="col-lg-5">
                            <h3 class="text-indent md-mb30">We help vendors reach local customers online and offline.</h3>
                        </div>
                        <div class="col-lg-3">
                            <div class="text">
                                <p>We help vendors connect with nearby customers by bringing their products online and offline, boosting visibility and sales.</p>
                                <a href="#0" class="crv-butn mt-40">
                                    <div class="d-flex">
                                        <span class="text">Register now</span>
                                        <span class="icon">
                                            <img src="{% static 'assets/imgs/icons/arrow-top-right.svg' %}" alt="">
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-9">
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <h2>Switch<br>Com</h2>
                            </div>
                            <div class="text ml-auto">
                                <div class="d-flex align-items-center">
                                    <p>Enable vendors to bridge online and  <br> offline experiences</p>
                                    <div>
                                        <div class="icon invert">
                                            <img src="{% static 'assets/imgs/icons/chart-line-solid.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <h2>Invoice</h2>
                            </div>
                            <div class="text ml-auto">
                                <div class="d-flex align-items-center">
                                    <p>Invoice Number,Price and Quantity  <br> Tax Information</p>
                                    <div>
                                        <div class="icon invert">
                                            <img src="{% static 'assets/imgs/icons/crown-solid.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <h2>Finance</h2>
                            </div>
                            <div class="text ml-auto">
                                <div class="d-flex align-items-center">
                                    <p>Personal Finance,Corporate <br> Financet, Public Finance</p>
                                    <div>
                                        <div class="icon invert">
                                            <img src="{% static 'assets/imgs/icons/bezier-curve-solid.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <h2>Reports</h2>
                            </div>
                            <div class="text ml-auto">
                                <div class="d-flex align-items-center">
                                    <p>Business ,academics government <br> for communicating insights</p>
                                    <div>
                                        <div class="icon invert">
                                            <img src="{% static 'assets/imgs/icons/code-solid.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <h2>Orders</h2>
                            </div>
                            <div class="text ml-auto">
                                <div class="d-flex align-items-center">
                                    <p>Order Number,Payment Terms, <br> Buyer and Seller Information</p>
                                    <div>
                                        <div class="icon invert">
                                            <img src="{% static 'assets/imgs/icons/chart-line-solid.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Services ==================== -->



    <!-- ==================== Start Intro ==================== -->

    <section class="intro-iner section-padding">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-5">
                    <div class="img-box">
                        <div class="img fit-img">
                            <img src="{% static 'assets/imgs/about/intro1.jpg' %}" alt="">
                        </div>
                        <div class="states">
                            <h2 class="mb-10 fw-600">7k+</h2>
                            <span class="text-u fz-12 fw-500">Satisfaction <br> Clients</span>
                        </div>
                        <div class="just-shape">
                            <div class="shap-right-top">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                    class="w-11 h-11">
                                    <path
                                        d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                        fill="#0e0f11"></path>
                                </svg>
                            </div>
                            <div class="shap-left-bottom">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                    class="w-11 h-11">
                                    <path
                                        d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                        fill="#0e0f11"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="butn-vid d-flex align-items-center">
                            <div class="play-button">
                                <a href="https://youtu.be/AzwC6umvd1s" class="vid">
                                    <i class="ti-control-play"></i>
                                </a>
                            </div>
                            <div class="cont">
                                <span>Let's see <br> how we did it.</span>
                            </div>
                            <div class="shaps bottom">
                                <div class="shap-right-top">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        class="w-11 h-11">
                                        <path
                                            d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                            fill="#0e0f11"></path>
                                    </svg>
                                </div>
                                <div class="shap-left-bottom">
                                    <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                        class="w-11 h-11">
                                        <path
                                            d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                            fill="#0e0f11"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sec-head mb-60">
                        <h6 class="sub-head mb-10">Who we are?</h6>
                        <h3>Elevating vendors globally with innovative strategies and visionary product</h3>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item active">
                                    <h4 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2"
                                            aria-expanded="false" aria-controls="collapse2">
                                            What’s Our mission?
                                        </button>
                                    </h4>
                                    <div id="collapse2" class="accordion-collapse collapse show"
                                        aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>To empower vendors by seamlessly connecting them with local customers through innovative online and offline solutions, fostering growth and accessibility in every community we serve.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3"
                                            aria-expanded="false" aria-controls="collapse3">
                                            What’s Our Vision?
                                        </button>
                                    </h4>
                                    <div id="collapse3" class="accordion-collapse collapse"
                                        aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>To be the leading platform that bridges the gap between vendors and their communities, making shopping local effortless, accessible, and impactful.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" data-tp-throwable-scene="true">
                <div class="item" data-tp-throwable-el="">
                    <div class="">
                        <span>SEO/Marketing</span>
                    </div>
                </div>
                <div class="item" data-tp-throwable-el="">
                    <div class="">
                        <span class="bdark">Motion</span>
                    </div>
                </div>
                <div class="item" data-tp-throwable-el="">
                    <div class="icon1">
                        <img src="{% static 'assets/imgs/about/s-icon1.svg' %}" alt="">
                    </div>
                </div>
                <div class="item" data-tp-throwable-el="">
                    <div class="">
                        <span class="bred">UI/UX Design</span>
                    </div>
                </div>
                <div class="item" data-tp-throwable-el="">
                    <div class="">
                        <img src="{% static 'assets/imgs/about/s-icon2.svg' %}" alt="">
                    </div>
                </div>
                <div class="item" data-tp-throwable-el="">
                    <div class="">
                        <span>Branding</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Intro ==================== -->



    <!-- ==================== Start Team ==================== -->

    <div class="team-mp">
        <div class="container section-padding bord-thin-top-light">
            <div class="sec-head mb-80">
                <div class="row">
                    <div class="col-lg-7">
                        <h6 class="sub-head">Team’s Leaders</h6>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center">
                        <div class="ml-auto">
                            <p>Each feature built by passionate hearts. It’s our
                                team!, meet our leaders</p>
                        </div>
                    </div>
                </div>
            </div>
            {% for details in team_list%}
            <div class="item mb-10">
                <div class="d-flex">
                    <div>
                        <div class="img fit-img">
                            <img src="{{details.image.url}}" alt="">
                        </div>
                    </div>
                    <div class="cont">
                        <h2>{{details.name}} </h2>
                        <span>{{details.designation}}</span>
                    </div>
                    <div class="ml-auto">
                        <div class="social-icon">
                            <a href="{{details.twitter_link}}">
                                <i class="ti-twitter-alt"></i>
                            </a>
                            <a href="{{details.instagram_link}}">
                                <i class="ti-instagram"></i>
                            </a>
                            <a href="{{details.facbook_link}}">
                                 <i class="ti-facebook"></i>
                            </a>
                            <a href="{{details.linkedin_link}}">
                                <i class="ti-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>

    <!-- ==================== End Team ==================== -->



    <!-- ==================== Start dark box ==================== -->

    <section class="container-fluid">

        <div class="section-padding sub-bg radius-30">


            <!-- ==================== Start Testimonials ==================== -->

            <div class="testimonials-ds">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="qoute-icon md-mb50">
                                <div class="text">
                                    <img src="{% static 'assets/imgs/about/testim/Vector_Cricle_Text.svg' %}" alt="">
                                </div>
                                <div class="icon">
                                    <img src="{% static 'assets/imgs/about/testim/vector_quote.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="swiper testim-swiper swiper-container">
                                <div class="swiper-wrapper">
                                    {% for details in testimonial_list %}

                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="text">
                                                <h4>“{{details.content}}”</h4>
                                            </div>
                                            <div
                                                class="info d-flex align-items-center mt-40 pt-30 bord-thin-top-light">
                                                <div>
                                                    <div class="img-author">
                                                        <img src="{{details.image.url}}"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="info-text">
                                                    <span>{{details.name}}</span>
                                                    <p>{{details.designation}}, {{details.company}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                   
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ==================== End Testimonials ==================== -->

            

            <!-- ==================== Start clients ==================== -->

            <div class="clients-ds mt-100">
                <div class="sec-head mb-70">
                    <h6 class="sub-head">partner with 10+ brands</h6>
                </div>
                <div class="row sm-marg">
                    {% for details in partner_list %}
                    <div class="col-lg col-md-4 col-6 md-mb30">
                        <div class="item d-flex align-items-center justify-content-center">
                            <div class="img">
                                <img src="{{details.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>

            <!-- ==================== End clients ==================== -->

        </div>

    </section>

    <!-- ==================== End dark box ==================== -->


</main>

{% include 'includes/footer.html' %}

{% endblock body %}