{% extends 'base.html' %}


{% load static %}

{% block body %}


{% include 'includes/loading.html' %}
{% include 'includes/navbar.html' %}


<main>



    <!-- ==================== Start Header ==================== -->

    <header class="blog-hed">
        <div class="container section-padding bord-thin-bottom-light">
            <div class="row">
                <div class="col-lg-7">
                    <div class="caption md-mb30">
                        <h1 class="text-indent">Welcome to DuoStore Insights: Trends, Tips, and Innovations to Elevate Your Shopping Experience.</h1>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 d-flex align-items-end">
                    <div class="text">
                        <p>Discover with DuoStore: A Deep Dive into Products, Trends, and Customer Stories.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Header ==================== -->



    <!-- ==================== Start Blog ==================== -->

    <div class="blog-mp section-padding">
        <div class="container">
            <div class="row xlg-marg">


                {% for post in post_list%}
                <div class="col-lg-4 bord">
                    <div class="item">
                        <div class="info d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="author-img fit-img">
                                        <img src="{% static 'assets/imgs/Duologo.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="author-info ml-10">
                                    <span>{{post.author}}</span>
                                    <span class="sub-color">Author</span>
                                </div>
                            </div>
                            <div class="date ml-auto">
                                <span class="sub-color"> {{post.created}}
                                    </span>
                            </div>
                        </div>
                        <div class="img fit-img mt-30">
                            <img src="{{post.image.url}}" alt="">
                        </div>
                        <div class="cont mt-30">
                            <h6>
                                <a href="{% url 'post_detail' post.id %}">{{post}}</a>
                            </h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

    <!-- ==================== End Blog ==================== -->


</main>
{% include 'includes/footer.html' %}


{% endblock body %}